@model PopcornTime_alpha3_.Models.Movy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePoster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoviePoster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieCat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
