@model IEnumerable<PopcornTime_alpha3_.Models.Movy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["UserID"] == null)
    {
        Response.Redirect("../UserTables/Login");
    }
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoviePoster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieCat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviePoster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieCat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
            </td>
        </tr>
    }

</table>
